#customer-type {
    display: table;
    width: 100%;
    height: auto;

    & > .btn {
        width: 50%;
        height: 44px;
        line-height: 2.3;
        margin: 0px;
        margin-top: -1px;
        border-radius: 0px;

        &.active {
            background-color: #fff;
            color: #76838f;
        }
        &:active, &:focus, &.focus {
            border: none;
            outline: none;
        }
    }
    & > .btn:first-of-type {
        margin-left: -1px;
        border-radius: 4px 0px 0px 0px;
    }
    & > .btn:last-of-type {
        margin-left: 1px;
        border-radius: 0px 4px 0px 0px;
    }
}
