body.login {
    background-color: #f7f9fb;

    .login-container {
        width: 350px;
        background-color: #fff;
        margin-top: auto !important;
        box-shadow: 0px 0px 4px rgba(0,0,0,.3);
    }

    .login-button {
        width: 100%;
    }
}
