.btn-plus {
    width: auto;
    height: 40px;
    border: none !important;
    background-color: #fff;
    margin-top: 19px;

    .voyager-plus {
        font-size: 32px !important;
        vertical-align: middle;
        line-height: 47px !important;
    }
}

.btn-close {
    width: auto;
    height: 40px;
    border: none !important;
    background-color: #fff;
    margin-top: 19px;
    padding-top: 10px;

    .voyager-trash {
        font-size: 22px;
    }
}
