.h-100 {
    height: 100%!important;
}

.padding-remove {
    padding: 0px !important;
}

.margin-remove {
    margin: 0px !important;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.view-bread {
    padding: 5px !important;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);

    .panel {
        box-shadow: none !important;
        margin-bottom: 0px !important;
        border-radius: 0px !important;
    }
    div[class^='col-md-'] {
        padding-right: 0px !important;
        padding-left:  0px !important;
    }
}

.d-auto {
    width: auto !important;
}


/********** CUSTOM RADIO BUTTON STYLES **********/
ul.radio-inline{
    list-style: none;
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0;
}

ul.radio-inline li{
    color: #AAAAAA;
    display: inline-block;
    position: relative;
    float: left;
    width: auto;
    height: auto;
    border-bottom: 1px dotted #f1f1f1;
}

ul.radio-inline li input[type=radio]{
    position: absolute;
    visibility: hidden;
}

ul.radio-inline li label{
    display: block;
    position: relative;
    font-weight: normal;
    font-size: 14px;
    padding-left: 40px;
    margin: 9px auto;
    height: 25px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    margin-bottom: 5px;
}

ul.radio-inline li:hover label{
    color: #535B65;
}

ul.radio-inline li .check{
    display: block;
    position: absolute;
    border: 4px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 10px;
    left: 10px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul.radio-inline li:hover .check {
    border: 4px solid #22A7F0;
}

ul.radio-inline li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 2px;
    left: 2px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 4px solid #22A7F0;
}

input[type=radio]:checked ~ .check::before{
    background: #22A7F0;
}

input[type=radio]:checked ~ label{
    color: #535B65;
}
