[class*='position-top'],
[class*='position-bottom'],
[class*='position-left'],
[class*='position-right'],
[class*='position-center'] {
    max-width: 100%;
    position: absolute !important;
}
.position-top {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
.position-bottom {
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
.position-left {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.position-right {
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}
.position-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: max-content;
    max-width: 100%;
    box-sizing: border-box !important;
}

/* Corners
 ========================================================================== */
.position-top-left {
    top: 0 !important;
    left: 0 !important;
}
.position-top-right {
    top: 0 !important;
    right: 0 !important;
}
.position-bottom-left {
    bottom: 0 !important;
    left: 0 !important;
}
.position-bottom-right {
    bottom: 0 !important;
    right: 0 !important;
}

/* Vertical */
[class*='position-center-left'],
[class*='position-center-right'] {
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.position-center-left { left: 0 !important; }
.position-center-right { right: 0 !important; }
.position-center-left-out {
    right: 100% !important;
    width: max-content;
}
.position-center-right-out {
    left: 100% !important;
    width: max-content;
}

/* Horizontal */
.position-top-center,
.position-bottom-center {
    left: 50% !important;
    transform: translateX(-50%) !important;
    /* 1 */
    width: max-content;
    max-width: 100% !important;
    box-sizing: border-box;
}
.position-top-center { top: 0 !important; }
.position-bottom-center { bottom: 0 !important; }

/* Cover
 ========================================================================== */

.position-cover {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}
